{% extends 'base.html'  %}
{% load static %}
{% block content %}


<h3>Apple MacBook Air (13" con Chip M1 CPU 8 núcleos y GPU 7 núcleos, 8GB RAM, 256 GB SSD)</h3>
<ul>
    <li>
        Apple M1 / Apple M2
    </li>

    <li>
        1.61 cm
    </li>

    <li>
        30.41 cm
    </li>
</ul>   



<h3>Notebook Gamer Aspire 5 Laptop A515-58GM-56XX-1 15.6" Intel Core I5 32GB Ram 512GB SSD Acer RTX 2050</h3>

<ul>
    <li>1.8 cm</li>
    <li>36 cm</li>
    <li>23.7 cm</li>
</ul>




{% endblock %}