{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Bienvenido a la mejor tienda!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima impedit amet ullam totam deleniti quidem laborum fugit sed, libero ratione ut quaerat illum inventore expedita aliquam, veniam quam porro pariatur?
        Earum reiciendis iure quas eligendi molestiae. Repudiandae iusto qui ducimus hic fugiat ipsa illo aspernatur animi impedit excepturi, nemo similique incidunt, illum magni id? Praesentium velit neque in possimus dicta.
        Earum, dolor praesentium? Quia porro natus culpa libero tempore aliquam sint, nemo debitis eius commodi earum nulla laborum facilis maxime ut exercitationem, soluta consectetur ipsam reiciendis! Assumenda, perspiciatis. Sed, eaque.
        Ab aut iusto culpa quisquam fugiat? Architecto enim fuga, quo at aperiam vel similique deleniti accusantium voluptates aliquam exercitationem odio ad dolor ratione dolorum amet veritatis molestias! Pariatur, hic magnam.
        Eligendi suscipit unde fugiat aperiam, ipsa deleniti nam maiores repellat rem sint non architecto voluptatibus, pariatur inventore, ratione mollitia veritatis nihil est placeat repudiandae ea animi ab ipsam. Perspiciatis, voluptates!</p>
    </div>
{% endblock %}
